version: 2
jobs:
  build:
    working_directory: ~/gabebw/hotline-webring
    parallelism: 1
    shell: /bin/bash --login
    environment:
      CIRCLE_ARTIFACTS: /tmp/circleci-artifacts
      CIRCLE_TEST_REPORTS: /tmp/circleci-test-results
    docker:
    - image: circleci/ruby:2.5.3-node
      environment:
        RAILS_ENV: test
        PGHOST: localhost
        PGUSER: hotlinewebring
    - image: circleci/postgres:10.6
      environment:
        POSTGRES_USER: hotlinewebring
        POSTGRES_DB: hotlinewebring_test
        POSTGRES_PASSWORD: ""

    steps:
      - checkout
      - run:
          name: Create Cache Directories
          command: mkdir -p $CIRCLE_ARTIFACTS $CIRCLE_TEST_REPORTS
      - run:
          name: Create .env
          command: cp .sample.env .env

      # Restore the dependency cache
      - restore_cache:
          keys:
          - hotlinewebring-{{ .Branch }}-{{ checksum "Gemfile.lock" }}
          - hotlinewebring-

      - run:
          name: Bundle Install
          command: bundle install --deployment --jobs=4 --retry=3

      # Save dependency cache
      - save_cache:
          key: hotlinewebring-{{ .Branch }}-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle
            - ~/.bundle

      - run:
          name: Wait for database
          command: dockerize -wait tcp://localhost:5432 -timeout 1m

      - run: bin/setup
      - run: bundle exec rake db:test:prepare
      - run:
          name: Run tests
          command: bundle exec rspec -r rspec_junit_formatter --format RspecJunitFormatter -o $CIRCLE_TEST_REPORTS/rspec/junit.xml
      - run:
          name: Check for Insecure Gems
          command: bundle exec rake bundler:audit

      - store_test_results:
          path: $CIRCLE_TEST_REPORTS

      - store_artifacts:
          path: $CIRCLE_ARTIFACTS

      - store_artifacts:
          path: $CIRCLE_TEST_REPORTS
