@import "neat-helpers"; // or "../neat/neat-helpers" when not in Rails

// Neat Overrides
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 12;
$max-width: 1200px;

// Neat Breakpoints
$medium-screen: 600px;
$large-screen: 900px;

$medium-screen-down: new-breakpoint(max-width $medium-screen 4);
$large-screen-down: new-breakpoint(max-width $large-screen 8);
