<section class="text">
  <p>Due to a frankly astonishing number of members in our silly webring, we're closing registrations for the moment. If we're being totally honest, the Ringleaders (Gabe and Edward) are also kinda tired of sifting through your wonderful and truly inventive web pages to find <code>next</code> and <code>previous</code> links and we wanted a break.</p>
  <p>As for when we'll open it back up, we're not sure. Mostly when we feel like we want more members which may not be for a while. Keep checking the homepage and we'll make sure it's there somewhere.</p>
</section>
