<header>
  <h2>
    <a href="https://hotlinewebring.club/hotlinewebring/previous">&larr;</a>
    Hotline Webring
    <a href="https://hotlinewebring.club/hotlinewebring/next">&rarr;</a>
  </h2>
  <h2><%= t("closed_for_registration.subheader") %></h2>
  <h3><%= t("closed_for_registration.existing_sites_still_work") %></h3>
</header>

<main>
  <%= render(partial: "pages/closed_text") %>
</main>
