<header>
  <h2>Hey there!</h2>
</header>

<main>
  <section class="text">
    <p>Looks like you're testing out your links on your local site.</p>
    <p>
      That's totally fine, but this site uses the referrer to insert you into the webring.
      That means that clicking your hotline webring links would add
      something like <code>http://localhost</code> as your entry in the webring,
      which is definitely not what you want.
    </p>
    <p>
      To keep local hosts out of the webring, we ignore requests from localhost
      (and a few others, like <code>127.0.0.1</code>) and don't add them to the
      webring. But don't worry! When you click on your real site it'll work!
    </p>
    <p>
      P.S. Remember, don't click on your links on staging, either, or your staging
      website will be added to the webring.
    </p>
  </section>
</main>
