<header>
  <% 6.times do %>
    <h2><%= title %></h2>
  <% end %>
</header>

<p>Wanna join the coolest webring? Here's how.</p>

<ol>
  <li>Choose a unique slug. If your website were gabebw.com, you might use
    <strong>gabebw</strong>. Using something based on your website is a good
    idea because it's likely to be unique.</li>
  <li>Add links on your website: <strong>http://hotlinewebring.club/YOUR-SLUG/next</strong> and <strong>http://hotlinewebring.club/YOUR-SLUG/previous</strong></li>
  <li>You're done! When someone clicks on one of your links, you'll be automatically added to the webring.</li>
</ol>

<h3>FAQ</h3>

<p>
  Q: Can I control who I link to?</br>
  A: No, sorry, it's all automatic. But on the bright side it's easy to sign up!
</p>

<p>
  Q: Is my slug taken?</br>
  A: You tell me:

  <table class="redirections">
    <tr>
      <th>Slug</th>
      <th>URL</th>
    </tr>
    <%= render @redirections %>
  </table>
</p>

<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/uxpDa-c-4Mc?rel=0" frameborder="0" allowfullscreen></iframe>
