<header>
  <h2>
    <a href="https://hotlinewebring.club/hotlinewebring/previous">&larr;</a>
    <%= title %>
    <a href="https://hotlinewebring.club/hotlinewebring/next">&rarr;</a>
  </h2>
</header>

<section class="text">
  <p>
    Do you long for a simpler time, when America was Online and the only person you
    could Ask was Jeeves? Hotline Webring is bringing that time back, with
    Webrings!
  </p>

  <p>
    In the 90s, search engines were of generally low quality, and people wanted
    a way to discover related sites. &ldquo;I wish I could see more sites about
    puppies,&rdquo; you might say to yourself over the sonorous clang of your
    modem, while waiting for
    <a href="/clumber-spaniel.bmp">a bitmap of a Clumber Spaniel</a>
    to load.
  </p>

  <p>
    So people with websites joined webrings, which were collections of sites
    where each site linked to their neighbors to form a ring.  Sometimes there
    was one button on each site that'd take you to a random site in the webring.
    People got more traffic and less-popular sites benefited from being linked
    to more-popular ones.
  </p>

  <p>
    Now, in <%= Date.current.year %> C.E., there are search engines and
    aggregators so finding related sites isn't that hard, and webrings have
    fallen by the wayside.
  </p>

  <p>
    We here at Hotline Webring traveled to the wayside, picked up The Concept of
    a Webring, dusted it off, and launched it to frankly astonishing acclaim.
  </p>

  <h3>How to Join</h3>
  <p>Here's our easy two-and-a-half-step process:</p>

  <ol>
    <li>Choose a unique slug. If your website were http://gabebw.com, you might use
      <strong>gabebw</strong>. Using something based on your website is a good
      idea because it's likely to be unique.</li>
    <li>Add links on your website to <strong>https://hotlinewebring.club/YOUR-SLUG/next</strong> and <strong>https://hotlinewebring.club/YOUR-SLUG/previous</strong></li>
    <li>You're done! When someone clicks on one of your links, you'll be automatically added to the webring.</li>
  </ol>

  <h3>FAQ</h3>

  <p>
    Q: Can I control who I link to?</br>
    A: No, sorry, it's all automatic. But on the bright side it's easy to sign up!
  </p>

  <p>
    Q: Is my slug taken?</br>
    A: You tell me:

    <table class="redirections">
      <tr>
        <th>Slug</th>
        <th>URL</th>
      </tr>
      <%= render @redirections %>
    </table>
  </p>

  <iframe width="800" height="450" src="https://www.youtube-nocookie.com/embed/uxpDa-c-4Mc?rel=0" frameborder="0" allowfullscreen></iframe>
</section>
