/**
 *= require _variables
 */

.flashes {
  .flash-alert,
  .flash-error,
  .flash-notice,
  .flash-success {
    border-radius: 4px;
    margin-bottom: 1rem;
    padding: 1rem;
  }

  .flash-alert {
    background: var(--pastel-yellow);
  }

  .flash-error {
    background: var(--pastel-red);
  }

  .flash-notice {
    background: var(--pastel-blue);
  }

  .flash-success {
    background: var(--pastel-green);
  }
}
