.homes-show {
  h2, h3 {
    color: white;
    font-style: italic;
    text-align: center;
  }

  h2 {
    font-size: $base-font-size * 5;
    line-height: 0.9;
    margin-bottom: 0;
    text-transform: uppercase;

    &:last-child {
      margin-bottom: 2rem;
    }
  }

  h3 {
    font-size: $base-font-size * 2;
  }

  iframe {
    margin-top: 2em;
  }

  ol {
    @extend %default-ol;
  }
}
