.homes-show {
  header {
    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  h2 {
    margin-bottom: 0;

    &:last-child {
      margin-bottom: 2rem;
    }

    a {
      color: white;
    }
  }

  iframe {
    margin-top: 2em;
  }

  ol {
    @extend %default-ol;
  }
}
