body {
  align-items: center;
  background-color: var(--hotline-bling-pink);
  color: var(--dark-gray);
  display: flex;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  flex-direction: column;
  line-height: 1.5;
  margin: var(--base-spacing);
}

.uncentered {
  text-align: left;
}

header {
  a {
    text-decoration: none;
    color: white;

    &:hover {
      text-decoration: underline;
    }
  }
}

h2,
h3 {
  color: white;
  font-style: italic;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 2em;
}

main {
  max-width: var(--max-width);
}

a {
  color: black;
}

table {
  border-collapse: collapse;
  font-feature-settings: "kern", "liga", "tnum";
  margin: var(--small-spacing) 0;
  table-layout: fixed;
  width: 100%;
}

th {
  border-bottom: 1px solid var(--border-color);
  font-weight: 600;
  padding: var(--small-spacing) 0;
  text-align: left;
}

td {
  border-bottom: 1px solid var(--dark-pink);
  padding: var(--small-spacing) 0;
}

tr,
td,
th {
  vertical-align: middle;
}

ol,
ul {
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

.announcement {
  background-color: var(--dark-pink);
  color: white;
  padding: 1em;

  a {
    color: currentcolor;
  }
}

hr {
  border: none;
  border-bottom: 1px solid var(--border-color);
}
