div.shirt-banner {
  margin-bottom: $base-spacing;
  overflow: hidden;
  white-space: nowrap;

  a {
    @include animation(marquee 20.0s linear infinite);
    color: white;
    display: inline-block;
    font-style: italic;
    font-weight: bold;
    padding-left: 100%;
    text-decoration: none;
    text-transform: uppercase;
  }

  a:hover {
    text-decoration: underline;
  }

  @include keyframes(marquee) {
    0% { @include transform(translate(0, 0)); }
    100% { @include transform(translate(-100%, 0)); }
  }
}
