$base-spacing: 1.5em;
$small-spacing: $base-spacing * 0.5;
$medium-spacing: $base-spacing * 2;
$max-width: 48em;

$dark-gray: #333;
$hotline-bling-pink: #fa9aba;
$dark-pink: darken($hotline-bling-pink, 40%);
