$base-spacing: 1.5em;
$small-spacing: $base-spacing * 0.5;
$medium-spacing: $base-spacing * 2;
$max-width: 48em;

$dark-gray: #333;
$hotline-bling-pink: #fa9aba;
$dark-pink: darken($hotline-bling-pink, 40%);
$pastel-yellow: #fff3cd;
$pastel-red: #fdaaaa;
$pastel-blue: #cde4ff;
$pastel-green: #d5ecdb;

// We picked a size so that it didn't span the entire page
$admin-max-width: 80%;
