:root {
  --base-spacing: 1.5em;
  --small-spacing: calc(var(--base-spacing) * 0.5);
  --medium-spacing: calc(var(--base-spacing) * 2);
  --max-width: 48em;

  --dark-gray: #333;
  --hotline-bling-pink: #fa9aba;
  --dark-pink: hsl(from var(--hotline-bling-pink) h s calc(l - 40));
  --pastel-yellow: #fff3cd;
  --pastel-red: #fdaaaa;
  --pastel-blue: #cde4ff;
  --pastel-green: #d5ecdb;
  --dark-red: #ef5350;
  --border-color: hsl(from var(--dark-pink) h s calc(l - 10));

  /* We picked a size so that it didn't span the entire page */
  --admin-max-width: 80%;
}
