/*
 *= require _variables
 */

/* 51em = var(--max-width) + 2 * var(--base-spacing)
* The `2 * base-spacing` covers the right and left margin. */
@media screen and (min-width: 51em) {
  main {
    margin: var(--base-spacing) auto;
  }

  h2 {
    font-size: 5em;
  }
}
