@charset "utf-8";

@import "normalize-rails";
@import "variables";
@import "flashes";

header {
  display: flex;
  background: $hotline-bling-pink;
  padding: 0 1em;
  margin-bottom: 2em;
}

main {
  // Make it larger so it looks nice on a phone
  font-size: 18px;
  margin: 0 auto;
  max-width: $admin-max-width;
}

.redirection {
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin-bottom: 1em;

  > div {
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 1em;
  }
}

.url,
.original-url {
  word-wrap: break-word;
  word-break: break-all;
}

.redirection {
  label {
    font-weight: bold;
  }

  button {
    -webkit-font-smoothing: antialiased;
    border-radius: 4px;
    border: 0;
    padding: 0.5em 0.75em;
    transition: all 0.3s ease-in;
    line-height: 1;
    width: 8rem;
  }
}

.block-button button {
  background-color: $dark-pink;
  color: white;

  &:hover {
    background-color: lighten($dark-pink, 10%);
  }
}

.unlink-button button {
  background-color: white;
  border: black 2px solid;
  color: black;

  &:hover {
    background-color: $hotline-bling-pink;
    border-color: $hotline-bling-pink;
  }
}

// Must be at the bottom, but before the media query, so it overrides any
// other `display` property above
.header-row,
.original-url {
  display: none;
}

.simple_form {
  .input {
    margin-bottom: 1em;
  }

  label {
    display: block;
  }

  .error {
    display: block;
    color: $dark-red;
  }

  input[type=submit] {
    padding: 1em;
    border-radius: 2px;
    border: none;
    background: $hotline-bling-pink;
    color: black;

    &:hover {
      background-color: lighten($dark-pink, 10%);
      color: white;
    }
  }
}

// Must be at the very bottom
@media screen and (min-width: 800px) {
  // Wider screens (not a phone)

  .redirection {
    align-items: center;
    display: grid;
    justify-items: start;
    padding: 1rem 0;

    // Everything is `1fr` except for the 2 URL columns, which are wider
    grid-template-columns:
    1fr // slug
    3fr // URL
    3fr // Original URL
    repeat(3, 1fr); // Various buttons
    column-gap: 1em;

    > div {
      display: block;
      margin-bottom: 0;
    }

    label {
      display: none;
    }
  }

  .header-row {
    display: block;
    font-weight: bold;
  }
}
