@charset "utf-8";

/**
 *= require normalize-rails
 *= require _variables
 *= require _flashes
 */

header {
  display: flex;
  background: var(--hotline-bling-pink);
  padding: 0 1em;
  margin-bottom: 2em;
}

main {
  /* Make it larger so it looks nice on a phone */
  font-size: 18px;
  margin: 0 auto;
  max-width: var(--admin-max-width);
}

main > section {
  margin-bottom: 2em;
}

h2 {
  font-size: 1.3em;
}

.redirection {
  margin-bottom: 1em;

  > div {
    padding-bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 1em;
  }
}

.url,
.original-url {
  word-wrap: break-word;
  word-break: break-all;
}

.redirection {
  label {
    font-weight: bold;
  }

  button {
    -webkit-font-smoothing: antialiased;
    border-radius: 4px;
    border: 0;
    padding: 0.5em 0.75em;
    transition: all 0.3s ease-in;
    line-height: 1;
    width: 8rem;
  }
}

.block-button button {
  background-color: var(--dark-pink);
  color: white;

  &:hover {
    background-color: hsl(from var(--dark-pink) h s calc(l + 1));
  }
}

.unlink-button button {
  background-color: white;
  border: black 2px solid;
  color: black;

  &:hover {
    background-color: var(--hotline-bling-pink);
    border-color: var(--hotline-bling-pink);
  }
}

/*
 * Must be at the bottom, but before the media query, so it overrides any other `display` property
 * above
 */
.header-row,
.redirection .original-url {
  display: none;
}

.simple_form {
  .input {
    margin-bottom: 1em;
  }

  label {
    display: block;
  }

  .error {
    display: block;
    color: var(--dark-red);
  }

  input[type="submit"] {
    padding: 1em;
    border-radius: 2px;
    border: none;
    background: var(--hotline-bling-pink);
    color: black;

    &:hover {
      background-color: hsl(from var(--dark-pink) h s calc(l - 10));
      color: white;
    }
  }
}

/* Must be at the very bottom */
@media screen and (min-width: 800px) {
  /* Wider screens (not a phone) */
  .redirections {
    display: grid;
    grid-template-columns:
      1fr /* Slug */
      3fr /* URL */
      3fr /* Original URL */
      2fr /* Last seen */
      1fr /* edit */
      repeat(2, 2fr); /* buttons */
    column-gap: 1em;
    row-gap: 1em;
  }

  .header-row,
  .redirection {
    display: contents;
  }

  .redirection {
    > div {
      border-bottom: 1px solid lightgray;
      display: block;
      margin-bottom: 0;
    }

    label {
      display: none;
    }
  }

  .redirection .original-url {
    display: block;
  }

  .header-row {
    font-weight: bold;
  }
}
